<%-layout('layout/adminplate') %>
<link rel="stylesheet" href="/styles/admin.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1 class="admin_heading">Data Analysis</h1>
<div class="app_wrapper">
  <div class="chart">
    <h1>Number Of Users</h1>
  <select class="data_show" onchange="updateChart(this)">
    <option value="day">Day</option>
    <option value="month">Month</option>
    <option value="year">Year</option>
  </select>
<%- include('/home/Ayyan/Desktop/portfolio/views/admin/NumberUsers.ejs') %> 
</div>

<div class="chart">
  <div class="numJobs_card">
  <h1>Number Of Jobs</h1>
  <%- include('/home/Ayyan/Desktop/portfolio/views/admin/NumberOfJobs.ejs') %> 
  </div>
</div>
<div class="chart">
  <div class="ActiveUsers">
  <h1>Ratio of Active and Unactive Users</h1>
  <%- include('/home/Ayyan/Desktop/portfolio/views/admin/NumberOfActiveUsers.ejs') %> 

</div>
</div>
</div>
<h1 class="admin_heading">Contacts Messages</h1>
<%- include('/home/Ayyan/Desktop/portfolio/views/admin/profileLists.ejs') %> 
 

